body{

    font-family: source-sans-pro, sans-serif;
    margin: 0;
    background: #fafafa;
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: open-sans, sans-serif;

}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color:white;
    margin: 0;
    /*margin: 100px, 500px, 100px, 30px;*/
    
}

h1 strong{
color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: poynter-gothic-text, san-sserif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;

}

.hero {
 height: 300px;
 /*background-image: url("../IMAGE/hero.jpg");*/
 background-color: #1b2127;
 /*background-size: 500px 300px;*/
 /*background-repeat: no-repeat;*/
 /*background-position-x: right;*/
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
}

.proyect{
/*border-top-color: #026fff;
border-top-width: 10px;
border-top-style: solid;*/
border: 1px solid gray;
border-radius: 10px;
margin-bottom: 15px;
padding: 20px;
background: white;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}

.proyect-tema{
    font-size: 20px;
    font-weight: bold;

}

.proyect-title{
   font-size: 30px;
   margin-top: 0;
   margin-bottom: 10px;
}

.proyect-course{
    margin: 10px 0;
    
}
.proyect-work{
    font-size: 20px;
    font-weight: bold;
}

.proyect-text{
    font-size: 30px;
    font-weight: bold;
    
}


.proyect-date,
.proyect-url {
    margin: 10px 0;
    font-size: 20px
    font-weight bold;
    display: flex;
}

.proyect strong{
    font-family:poynter-gothic-text, sans-serif;
    
}
.portafolio{
    background: #fafafa;
    padding: 20px;
}

.event-list{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    background: white;
    margin: 15px;
    padding: 20px;
    display: flex;
    
}

.contact{
    border:1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    background: white;
    margin: 15px;
    padding: 20px;
    flex-wrap: wrap;
}

.proyect-imageContainer {
    width: 480px;
}
.header {
 background-color: #1b2127;
 color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 70px;
 flex-wrap: wrap;

}

ol,
ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

figure{
  margin: 0;
}
.header a {
    color: white;
    text-decoration: none;
    
}
.menu{
    display: flex;
    height: inherit;;
    
}
.header ol{
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.flexbox{
   display: flex;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}
.event{
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.proyect-imagenes{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-details{
 margin: 20px 40px;
 margin-top: -40px;
 background-color: white;
 position: relative;
 padding: 20px;
 text-align: center;
}

.event-description{
   text-align: left;
}

.event-url{
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}
.event-afuera{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    }

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;

}

.social-link.twitter{
    background-image: url("../img/tw.png");

}
.social-link.facebook{
    background-image: url("../img/fac.png");

}

.social-link.github{
    background-image: url("../img/hub.png");

}
.social-link.instagram{
    background-image: url("../img/ins.png");

}

.form-email input {
     border-color: gray;
     border-radius: 5px;
     border-style: solid;
     padding: 10px 20px 10px 25px;
     background-image: url("../img/envelope.svg");
     background-size: 15px 15px;
     background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 5px;
    background: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /*margin: 10px auto 0;*/
}

.form-email h3{
 font-family: poynter-gothic-text, san-sserif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

@media screen and (max-width: 1024px){
 body {

 }
}

@media screen and (max-width: 768px){
    body {

    }
}

@media screen and (max-width: 480px){
    body {
        
    }
}

@media screen and (max-width: 240px){
    body {
        
    }
}